<ion-toolbar>
  <button ion-button menuToggle></button>
</ion-toolbar>

<ion-view view-title="Detalhes da Rota">
  <ion-content>
    <ul class="list">
      <li class="item">Partida: {{detalheRota.partida}}</li>
      <li class="item">Destino: {{detalheRota.destino}}</li>
      <li class="item">Data de Partida: {{detalheRota.datapartida | date: 'dd/MM/yyyy'}}</li>
      <li class="item">Data de Entrega: {{detalheRota.dataentrega | date: 'dd/MM/yyyy'}}</li>
    </ul>
    <hr>
    <button type="button" class="button button-positive button-block" ng-if="detalheRota.chave == false" ng-click="localRota(detalheRota)"> + MINHAS ROTAS</button>
    <button type="button" class="button button-assertive button-block" ng-if="detalheRota.chave == true" ng-click="removeLocalRota(detalheRota)"> REMOVER </button>
    <button type="button" class="button button-balanced button-block" ng-if="detalheRota.chave == true" ng-click="visualizarRota(detalheRota)"> INICIAR ROTA </button>
    <button type="button" class="button button-balanced button-block" ng-click="$ionicGoBack()"> VOLTAR </button>
  </ion-content>
</ion-view>
