<ion-view>
  <ion-nav-title>
    <h1 class="title">Detalhes da rota</h1>
  </ion-nav-title>
  <ion-content>
    <ul class="list">
      <li class="item">Partida: {{detalheRota.partida}}</li>
      <li class="item">Destino: {{detalheRota.destino}}</li>
      <li class="item">Data de Partida: {{detalheRota.DataPartida}}</li>
      <li class="item">Data de Entrega: {{detalheRota.DataEntrega}}</li>
    </ul>
    <hr>
    <button type="button" name="button" >teste</button>
  </ion-content>
</ion-view>
