<ion-view view-title="Diario de Bordo">
	<ion-content>
		<ion-list class="bordo">
			<div class="row">
				<ion-item ui-sref="menu.tempoRotas">
					<span class="icon ion-clock"></span>
					Tempo Rota
				</ion-item>
				<ion-item ui-sref="menu.cargaDescarga">
					<span class="icon ion-ios-filing-outline"></span>
					Carga e Descarga
				</ion-item>
			</div>
			<div class="row">
				<ion-item ui-sref="menu.alimentacao">
					<span class="icon ion-coffee"></span>
					Alimentação
				</ion-item>
				<ion-item ui-sref="menu.descansoPernoite">
					<span class="icon ion-flash"></span>
					Descanço e Pernoite
				</ion-item>
			</div>
			<div class="row">
				<ion-item ui-sref="menu.manutencao">
					<span class="icon ion-settings"></span>
					Manutenção de Veiculos
				</ion-item>
				<ion-item ui-sref="menu.abastecimento">
					<span class="icon ion-ios-filing-outline"></span>
					Abastecimento
				</ion-item>
			</div>
			<div class="row">
				<ion-item ui-sref="menu.fiscalizacao">
					<span class="icon ion-clock"></span>
					Fiscalização
				</ion-item>
				<ion-item ui-sref="menu.cliente">
					<span class="icon ion-android-person"></span>
					Cliente
				</ion-item>
			</div>
		</ion-list>
		<button class="button button-block button-dark" ui-sref="menu.route">
  		Voltar
		</button>
	</ion-content>
</ion-view>
