.menu-ocorrencias {
	.diario-bordo {
		.row {
			padding: 0;
		}

		ion-item {
			width: 100%;
			height: 147px;

			a {
				width: 100%;
				padding: 0;
				background-color: #000;

				img {
					margin-left: 35%;
				}

				p {
					color: #fff;
					text-align: center;
				}
			}
		}

		.tempo {
			background-color: #005684;
			a {
				background-color: #005684;
				img {
					width: 48%;
				}
			}
		}

		.carga {
			background-color: #1E8CBE;
			a {
				background-color: #1E8CBE;
				img {
					width: 43%;
				}
			}
		}

		.alimentacao {
			background-color: #59B0D4;
			a {
				background-color: #59B0D4;
				img {
					width: 47%;
				}
			}
		}

		.pernoite {
			background-color: #82BCD4;
			a {
				background-color: #82BCD4;
				img {
					width: 31%;
				}
			}
		}

		.manutencao {
			background-color: #FFD95E;
			a {
				background-color: #FFD95E;
				img {
					width: 48%;
				}
			}
		}

		.abastecimento {
			background-color: #DF9E2E;
			a {
				background-color: #DF9E2E;
				img {
					width: 43%;
				}
			}
		}

		.fiscalizacao {
			background-color: #F5851F;
			a {
				background-color: #F5851F;
				img {
					width: 48%;
				}
			}
		}

		.cliente {
			background-color: #FD8A21;
			a {
				background-color: #FD8A21;
				img {
					width: 26%;
				}
			}
		}
	}
}